#video-wrapper {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#video-wrapper video {
    max-width: 90vw;
    max-height: 70vh;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.50);
    outline: none;
}

#stream-page-ui {
    display: none;
}

#stream-serve-page-ui {
    display: none;
}

#video-container {
    display: none;
}

#output {
    padding: 20px 0;
    overflow: scroll;
    font-size: 10px;
    margin: 0;
    max-height: 400px;
}

#output::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#qrcode {
    width: 128px;
    margin: 0 auto;
}

#footer {
    margin-bottom: 20px;
}

.header-room {
    font-size: 1rem;
}

.panel {
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
}

.panel .separator {
    height: 50px;
}

.help-text {
    font-size: 0.8rem;
}

.container-small {
    max-width: 760px;
}

.config-panel {
    border: 1px solid #e2e3e5;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.config-panel label {
    font-size: 0.8rem;
    margin: 2px;
}

.config-panel select {
    font-size: 0.8rem;
}

.config-panel input, .config-panel textarea {
    font-size: 0.8rem;
    font-family: Consolas, monospace;
}

.table-meta {
    font-size: 12px;
}

.table-meta td:first-child {
    width: 150px;
}

@media (max-width: 576px) {
    .btn-block-xs-only {
        display: block;
        width: 100%;
    }
}
